.checkboxContainer {
  display: flex;
  cursor: pointer;
  position: relative;
  margin-top: var(--space-1);
}

.nativeCheckboxHidden {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkboxVisual {
  width: 10px;
  height: 10px;
  margin-top: 1px;
  margin-left: var(--space-1);
  border: 1px solid var(--gray-200);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--duration-fast) var(--ease-in-out);
}

.nativeCheckboxHidden:checked + .checkboxVisual {
  background-color: var(--gray-200);
}

.checkboxLabel {
  font-size: var(--text-xs);
  margin-left: var(--space-1);
  user-select: none;
  line-height: 1;
}
