.pageWrapper {
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  border: 2px solid var(--color-border);
}

.pageContentContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-background);
  border: 1px solid var(--color-background);
}
.navLocation {
  position: absolute;
  z-index: var(--z-overlay);
}

.content {
  text-align: center;
  color: var(--color-text-primary);
  margin: calc(var(--space-8));
}

.content h1 {
  font-size: var(--text-5xl);
  margin-bottom: var(--space-4);
}

.content p {
  font-size: var(--text-xl);
  opacity: 0.8;
}
