.footer {
  height: var(--wrapperPadding);
  flex-direction: row;
  display: flex;
  font-size: var(--font-size-xs);
}

.pageControls {
  gap: 12px;
  display: flex;
  flex: 1;
}

.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
