.footer {
  height: var(--space-8);
  flex-direction: row;
  display: flex;
  font-size: var(--text-xs);
}

.pageControls {
  gap: var(--space-3);
  display: flex;
  flex: 1;
}

.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: var(--space-1);
  user-select: none;
}
