.footer {
  height: var(--wrapperPadding);
  flex-direction: row;
  display: flex;
  font-size: 10px;
}

.pageControls {
  gap: 12px;
  display: flex;
  flex: 1;
}

.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
