/* global styles */
:root {
  --wrapperPadding: 30px;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--wrapperPadding);
  padding-bottom: 0;
  height: 100vh;
}

.appContent {
  flex: 1;
}
