@import "./styles.css";
:root {
  height: fit-content;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-8);
  padding-bottom: 0;
  height: 100%;
  background-color: var(--color-background);
  overflow: auto;
  scrollbar-color: var(--color-scrollbar);
  color: var(--color-text-primary);
}

.appWrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.appContent {
  flex: 1;
}
