/* global styles */
:root {
  --wrapperPadding: 30px;
  height: fit-content;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--wrapperPadding);
  padding-bottom: 0;
  height: 100%;
  overflow: auto;
  background-color: #eee;
}

.appContent {
  flex: 1;
}
